<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Loading Tutorial</title>
</head>
<body>
    <h1>hellow world</h1>
    
        <button onclick="location.href='http://google.com'"></button>
        <button onclick="location.href='/about'"></button>
</body>
</html>