body{
    background: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1549152866/iphoneXaccuratemask.png') center fixed no-repeat; 
   display: flex;
   text-align: center;
   height: 97vh;
   
   
}